ANALYTICS_S3_BUCKET=nyc-taxi-analytics-dev
OLLAMA_BASE_URL=http://localhost:11434
AWS_REGION=ap-southeast-1
OLLAMA_TIMEOUT_SECONDS=60
DUCKDB_TIMEOUT_SECONDS=30
PIPELINE_TIMEOUT_SECONDS=180
ROW_CAP=200
# SCHEMA_REGISTRY_PATH=schema_registry.json
